{% load core.tags %}

<li class="grid">
    <a data-color="{% attribute 'Color' type='color' id='color' default='#AAA' %}"
       href="{% attribute 'URL' type='text' id='url' default='#' %}">
        <span>{% attribute 'Title' type='text' id='title' default='Button' %}</span>
    </a>
    {% attribute 'Sections' type='list' id='sections' component='menu_section.html' fake=True %}
    {% if not list_sections_empty %}
        <div class="megapanel">
            <div class="row">
                {% attribute 'Sections' type='list' id='sections' component='menu_section.html' %}
            </div>
        </div>
    {% endif %}
</li>
