{% load core.tags %}
{% load mathfilters %}

<div class="col-md-{% attribute 'Width' type='number' id='width' min=1 max=12 default=width %} arriv-{{ outer_class }}">
    {% with img_width=width|mul:95|sub:offset %}
        <img src="{% attribute 'Image' type='image' id='image' width=img_width height=height %}" class="img-responsive img-rounded">
    {% endwith %}
    <div class="arriv-info{{ inner_class }}">
        <h3>{% attribute 'Title' type='text' id='class' default='TITLE' %}</h3>
        <p>{% attribute 'Description' type='text' id='description' default='DESCRIPTION' %}</p>
        <div class="crt-btn">
            <a href="{% attribute 'URL' type='text' id='url' default='#' %}">
                {% attribute 'Button' type='text' id='button' default='BUTTON' %}
            </a>
        </div>
    </div>
</div>
