{% load staticfiles %}
{% load core.tags %}

<!DOCTYPE HTML>
<html>
    <head>
        {% include 'core/metrika.html' %}

        <meta charset="utf-8">
        <title>SittingKnitting &ndash; {% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />

        <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
        <link href="{% static 'css/jquery-ui.min.css' %}" rel='stylesheet' type='text/css' />
        <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
        <link href="{% static 'css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="top_bg">
            <div class="container">
                <div class="header_top">
                    <div class="top_right">
                        <ul>
                            <li><a href="#">Контакты</a></li>|
                            <li><a href="#">Доставка и оплата</a></li>|
                            <li><a href="#">Время работы</a></li>
                        </ul>
                    </div>
                    <div class="top_left">
                        <h2><span></span>{% component 'text.html' id='phone' %}</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        {% include 'core/header.html' %}

        {% include 'core/messages.html' %}

        {% block content %}{% endblock content %}

        {% include 'core/footer.html' %}

        <script type='text/javascript' src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/megamenu.js' %}"></script>
        <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
        <script src="{% static 'js/menu_jquery.js' %}"></script>
        <!-- <script src="{% static 'js/simple_cart.min.js' %}"> </script> -->
        {% block javascript %}{% endblock %}

        {% include 'core/edit.html' %}

    </body>
</html>
