{% load staticfiles %}

{% if edit_mode %}
    <script type="text/javascript"> window.edit_mode = true; </script>
{% endif %}

{% if request.user.is_staff %}
    <style type="text/css">
        #edit-toolbar {
            position: absolute;
            top: 0;
            left: 50%;
            height: 50px;
            width: 200px;
            transform: translate(-100px, 0);
            z-index: 9999;

            color: white;
            background: red;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 0 10px 10px;
            cursor: pointer;
        }

        #edit-overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: black;
            opacity: 0.8;
            z-index: 999;
        }

        [data-component] {
            cursor: pointer;
            display: unset;
        }

        [data-component] * {
            z-index: 9999;
        }
    </style>
    <div id="edit-toolbar">EDIT MODE:&nbsp;&nbsp;<b></b></div>
    <div id="edit-overlay" style="display: none;"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#edit-toolbar b').text(window.edit_mode ? 'ON' : 'OFF');
            $('#edit-toolbar').click(function () {
                location = location.pathname + '?edit=' + (!window.edit_mode).toString();
            });
            if (!window.edit_mode) return;
            $('#edit-overlay').show();
            $('[data-component]')
                .attr('title', 'Click to edit')
                .tooltip({track: true})
                .click(function (e) {
                    e.preventDefault();
                    var id = $(this).attr('data-component');
                    var url = '/edit/' + id;
                    window.open(url, '_blank', 'height=400,width=400');
                });
        });
    </script>
{% endif %}
