{% load core.tags %}

<div class="foot-top">
    <div class="container">
        <div class="col-md-6 s-c">
            <li>
                <div class="fooll">
                    <h5>Подпишись:</h5>
                </div>
            </li>
            <li>
                <div class="social-ic">
                    <ul>
                        <!--<li><a href="#"><i class="facebok"> </i></a></li>
                        <li><a href="#"><i class="twiter"> </i></a></li>
                        <li><a href="#"><i class="goog"> </i></a></li>-->
                        <li><a href="#"><i class="be"> </i></a></li>
                        <!--<li><a href="#"><i class="pp"> </i></a></li>-->
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </li>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 s-c">
            <div class="stay">
                <form action="{% url 'subscribe' %}" method="POST" id="subscribe">
                    {% csrf_token %}
                    <div class="thanks" style="display: none;">Подписка активирована</div>
                    <div class="stay-left">
                        <input type="email" placeholder="Оставьте свой email для получения новостей" name="email">
                    </div>
                    <input type="submit" value="отправить">
                    <div class="errors" style="width: 100%;"></div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer">
    <div class="container">
        {% component 'footer_column.html' id='footer-column-a' class="col-md-3 cust" %}
        {% component 'footer_column.html' id='footer-column-b' class="col-md-3 myac" %}
		<div class="col-md-6 our-st">
			<div class="our-left"><h4>{% component 'text.html' id='footer-last-title' %}</h4></div>
			<div class="clearfix"></div>
            <li>{% component 'text.html' id='footer-last-text-a' %}</li>
            <li><i class="add"></i> {% component 'text.html' id='footer-last-text-b' %}</li>
            <li><i class="phone"></i> {% component 'text.html' id='phone' %}</li>
            <li><i class="mail"></i> {% component 'text.html' id='footer-last-link-d' %}</li>
		</div>
        <div class="clearfix"></div>
        <p class="text-center">
            Магазин <a href="https://sittingknitting.ru">SittingKnitting</a> © 2018
            <span>|</span>
            Разработано <a href="http://jkdev.ru">JK Developers</a>
            <span>|</span>
            Дизайн от <a href="http://w3layouts.com/">W3layouts</a>
        </p>
    </div>
</div>
