{% load staticfiles %}
{% load core.tags %}

<div class="header_bg">
    <div class="container">
        <div class="header">
            <div class="head-t">
                <div class="logo">
                    <a href="#"><img src="{% static 'images/logo.png' %}" class="img-responsive" alt=""/></a>
                </div>

                <div class="header_right">
                    <div class="rgt-bottom">

                        {% include 'core/auth.html' %}

                        {% if not request.user.is_staff %}
                            <div class="cart box_1">
                                <a href="#" style="display: flex; align-items: center;">
                                    <p>Корзина</p>
                                    <img src="{% static 'images/basket.png' %}" style="max-width: 30px;">
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        {% else %}
                            <a href="{% url 'admin:index' %}" class="btn btn-primary btn-sm">DJANGO ADMIN</a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="search">
                        <form>
                            <input type="text" value="" placeholder="Поиск...">
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            {% component 'menu.html' id='menu' %}

        </div>
    </div>
</div>
