{% extends 'core/base.html' %}
{% load staticfiles %}
{% load core.tags %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <div class="arriv">
        <div class="container">
            <div class="arriv-top">
                {% component 'tile_a.html' id='tile-a' outer_class='left' width=6 height=400 offset=15 %}
                {% component 'tile_a.html' id='tile-b' outer_class='right' width=6 height=400 offset=15 %}
                <div class="clearfix"></div>
            </div>
            <div class="arriv-bottm">
                {% component 'tile_a.html' id='tile-c' outer_class='left1' inner_class='1' width=8 height=300 offset=15 %}
                {% component 'tile_b.html' id='tile-d' outer_class='right1' inner_class='2' width=4 height=300 offset=15 %}
                <div class="clearfix"></div>
            </div>
            <div class="arriv-las">
                {% component 'tile_b.html' id='tile-e' outer_class='left2' inner_class='2' width=4 height=300 offset=15 %}
                {% component 'tile_a.html' id='tile-f' outer_class='middle' inner_class='3' width=4 height=300 offset=30 %}
                {% component 'tile_b.html' id='tile-g' outer_class='right2' inner_class='2' width=4 height=300 offset=15 %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="special" {% if edit_mode %}style="z-index: 9999;"{% endif %}>
        <div class="container">
            <h3>{% component 'text.html' id='cards-title' %}</h3>
            <div class="specia-top">
                <!--<ul class="grid_2">
                    {% component 'card.html' id='card-a' %}
                    {% component 'card.html' id='card-b' %}
                    {% component 'card.html' id='card-c' %}
                    {% component 'card.html' id='card-d' %}
                    <div class="clearfix"></div>
                </ul>-->
                {% component 'text.html' id='special' %}
            </div>
        </div>
    </div>
{% endblock %}
