{% extends 'core/base.html' %}
{% load thumbnail %}

{% block title %}Товары{% endblock %}

{% block content %}
    <div class="container">
    <div class="women_main">
        <div class="col-md-3 s-d">
            <div class="w_sidebar">
{#                <div class="w_nav1">#}
{#                    <ul>#}
{#                        <li>#}
{#                            <a href="{% url 'all_products' %}" {% if not current %}class="active"{% endif %}>Все</a>#}
{#                        </li>#}
{#                        {% for item in root %}#}
{#                            <li>#}
{#                                <a href="{% url 'products' pk=item.pk %}"#}
{#                                {% if item.pk == current.pk %}class="active"{% endif %}>{{ item.name }}</a>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}

                {% if all_subs %}
                    <section  class="sky-form">
                        <h4>Категория</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                {% for item in all_subs %}
                                    <a class="checkbox" data-sub="{{ item.pk }}">
                                        <input type="checkbox" name="checkbox" {% if item in subs %}checked{% endif %}>
                                        <i></i>{{ item.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}

                {% if all_brands %}
                <section  class="sky-form">
                    <h4>Производитель</h4>
                    <div class="row1 scroll-pane">
                        <div class="col col-4">
                            {% for item in all_brands %}
                                <a class="checkbox" data-brand="{{ item }}">
                                    <input type="checkbox" name="checkbox" {% if item in brands %}checked{% endif %}>
                                    <i></i>{{ item }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                {% endif %}

                {% if all_types %}
                <section  class="sky-form">
                    <h4>{{ type_name }}</h4>
                    <div class="row1 scroll-pane">
                        <div class="col col-4">
                            {% for item in all_types %}
                                <a class="checkbox" data-type="{{ item }}">
                                    <input type="checkbox" name="checkbox" {% if item in types %}checked{% endif %}>
                                    <i></i>{{ item }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9 w_content">
            <div class="women">
                <a href="#">
                    <h4>
                        {% if search %}
                            Поиск "{{ search }}"
                        {% elif current %}
                            Категория "{{ current.name }}"
                        {% else %}
                            Все категории
                        {% endif %}
                        <span> - {{ count }} товаров</span>
                    </h4>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="grids_of_4">
            {% for product in products %}
                <div class="grid1_of_4">
                    <div class="content_box">
                        <a href="{{ product.get_absolute_url }}">
                            {% thumbnail product.photo '600x450' crop='center' as image %}
                                <img src="{{ image.url }}" class="img-responsive"/>
                            {% endthumbnail %}
                        </a>
                        <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                        {% if product.brand %}
                            <p>Производитель: {{ product.brand }}</p>
                        {% endif %}
                        <div class="grid_1">
                            <div class="item_add"><span class="item_price"><h6>{{ product.price }} руб.</h6></span></div>
                            <div class="item_add">
                                <span class="item_price">
                                    <a href="{{ product.get_absolute_url }}">Перейти</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:4 %}
                    <div class="clearfix"></div>
                    </div>
                    <div class="grids_of_4">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}