{% extends 'base.html' %}
{% load staticfiles %}
{% load core.tags %}

{% block content %}
    <div class="arriv">
        <div class="container">
            <div class="arriv-top">
                {% component 'tile_a.html' id='tile-a' outer_class='arriv-left' inner_class='arriv-info' %}
                {% component 'tile_a.html' id='tile-b' outer_class='arriv-right' inner_class='arriv-info' %}
                <div class="clearfix"></div>
            </div>
            <div class="arriv-bottm">
                {% component 'tile_a.html' id='tile-c' outer_class='arriv-left1' inner_class='arriv-info1' %}
                {% component 'tile_b.html' id='tile-d' outer_class='arriv-right1' inner_class='arriv-info2' %}
                <div class="clearfix"></div>
            </div>
            <div class="arriv-las">
                {% component 'tile_b.html' id='tile-e' outer_class='arriv-left2' inner_class='arriv-info2' %}
                {% component 'tile_a.html' id='tile-f' outer_class='arriv-middle' inner_class='arriv-info3' %}
                {% component 'tile_b.html' id='tile-g' outer_class='arriv-right2' inner_class='arriv-info2' %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
