<ul class="megamenu skyblue">
    <li class="grid">
        <a class="color1" href="/home">Главная</a>
        <div class="megapanel">
            <div class="row">
                <div class="col1">
                    <div class="h_nav">
                        <h4>Раздел</h4>
                        <ul>
                            <li><a href="#">Подраздел</a></li>
                            <li><a href="#">Подраздел</a></li>
                            <li><a href="#">Подраздел</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col1">
                    <div class="h_nav">
                        <h4>Раздел</h4>
                        <ul>
                            <li><a href="#">Подраздел</a></li>
                            <li><a href="#">Подраздел</a></li>
                            <li><a href="#">Подраздел</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
